.imageEntete {
display: flex;
 justify-content: center ;
 }
.hCar{
	overflow:hidden;
	height: 600px;
}
.carousel img {
  max-height: 600px;
}
.alert{ 
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
}
.imageEntete{
	background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-e-commerce-taobao-food-promotion-banner-image_161865.jpg");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
	min-height: 180px;
}

.imageEntete h1{
	  font-family: Arial black;
	  font-weight: bold;
	  color: red;
	  font-size: 3.5em;
}

.imageEntete h3{
	  font-family: Segoe Script;
	  color: white;
	  font-size: 2.5em;
}

/* .navbarContainer nav{
		background-image: url("https://img.freepik.com/photos-gratuite/vieux-fond-noir-texture-grunge-fond-ecran-sombre-beton-tableau-noir_1258-48224.jpg?w=1480&t=st=1656686130~exp=1656686730~hmac=5ce0d714aa050c44f87bb7704ddbd653526a14d8e680d1f89e3c67ce2b4641ae");
		border: 1px solid #2f48db;
} */